/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ecef; /* Fondo suave */
    background-image: url(https://cypes.grupoeurohispana.com/img/profesion/1589/recurso-principal-11919410.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 20px;    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    border-radius: 15px; /* Bordes redondeados */
    padding: 2rem; /* Espaciado interno */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #887272; /* Color del texto */
}

form {
    width: 100%;
}

.mb-3 {
    margin-bottom: 1.5rem; /* Espaciado entre elementos */
}

label {
    display: block; /* Asegura que el label ocupe todo el ancho */
    margin-bottom: 0.5rem;
    font-weight: bold; /* Negrita para los labels */
    color: #495057; /* Color del texto del label */
}

input[type="email"],
input[type="password"] {
    width: 100%; /* Ancho completo */
    padding: 0.75rem; /* Espaciado interno */
    border: 1px solid #ced4da; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    transition: border-color 0.3s ease; /* Transición suave al enfocar */
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007bff; /* Color del borde al enfocar */
    outline: none; /* Eliminar el contorno predeterminado */
}

button {
    width: 100%; /* Botón ocupa todo el ancho */
    padding: 0.75rem;
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    font-size: 1rem; /* Tamaño de fuente del botón */
    transition: background-color 0.3s ease; /* Transición suave para el fondo */
}

button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

/* Responsividad */
@media (max-width: 480px) {
    .container {
        padding: 1.5rem; /* Menos padding en pantallas pequeñas */
        border-radius: 8px; /* Bordes más suaves en pantallas pequeñas */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Sombra más ligera en pantallas pequeñas */
    }

    h1 {
        font-size: 1.5rem; /* Tamaño de fuente más pequeño en pantallas pequeñas */
        margin-bottom: 1.5rem;
    }
}