<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}"> <!-- Enlazamos el archivo CSS -->
</head>
<body>
   {% block template %}
   <div class="container"> 
   <h1>Bienvenido al Módulo de Recursos Humanos</h1>   
    <form action={% url 'ini' %} method="POST">
      {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1">Nombre de usuario</label>
          <input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" id="exampleInputPassword1" required>
        </div>
        <button type="submit">Iniciar sesión</button>
      </form>
    </div>
  {% endblock %}

</body>
</html>

